/* head part custom css */
.head_Part {
  font-family: sans-serif;
  color: cadetblue;
  font-size: 44px;
  background: #80808017;
}
/* input box custom css */
.inputBox {
  background-color: #dddadaa3;
  width: 220px;
  height: 34px;
  border: 1px solid;
  border-radius: 3px;
}
.saveInput {
  width: 80px;
}

/* error handleing custom css */
.input_Error {
  font-size: 15px;
  border: 1px solid salmon;
  background-color: rgba(235, 23, 23, 0.65);
  color: white;
  text-align: center;
  width: 342px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 gray;
  font-weight: 600;
  display: none;
}
